@model DigiCon.Web.UI.Models.ViewModel_AddCreatePlaylistToViewclient

@using (Ajax.BeginForm("CreateAndAddPlaylist", "Home", new
{
    viewclientId = Model.viewclientId
}, new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "viewclient",
    InsertionMode = InsertionMode.Replace
}))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h2>Spellista</h2>
        <hr />
        @Html.ValidationMessageFor(Model => Model.playlistName)
        <div class="form-group">
            @Html.LabelFor(Model => Model.playlistName, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextBoxFor(Model => Model.playlistName, new { @class = "form-control" })
                @Html.ValidationMessageFor(Model => Model.playlistName, "", new { @class = "text-danger input-lg" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Skapa" class="btn btn-primary" onclick="addPlaylistModalSave()"/>
            </div>
        </div>
    </div>
}
